<form class="" id="formProduct">
    <h2 class="titulo">Real Time Products</h2>
    <div class="">

        <div class="">
            <label for="title" class="form-label">Nombre del Producto</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-box"></i></span>
                <input class="form-control" type="text" name="title" id="title" placeholder="Ej. Smartphone" required>
            </div>
        </div>

        <div class="">
            <label for="description" class="form-label">Descripción</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-file-text"></i></span>
                <input class="form-control" type="text" name="description" id="description"
                    placeholder="Ej. Último modelo con características avanzadas" required>
            </div>
        </div>

        <div class="">
            <label for="stock" class="form-label">Stock</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-box"></i></span>
                <input class="form-control" type="number" name="stock" id="stock" placeholder="Ej. 100" required>
            </div>
        </div>

        <div class="">
            <label for="category" class="form-label">Categoría</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-grid"></i></span>
                <input class="form-control" type="text" name="category" id="category" placeholder="Ej. Electrónicos"
                    required>
            </div>
        </div>

        <div class="">
            <label for="price" class="form-label">Precio</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                <input class="form-control" type="number" name="price" id="price" placeholder="Ej. 499.99" required>
            </div>
        </div>
        
        <div class="">
            <label for="code" class="form-label">Código</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-tag"></i></span>
                <input class="form-control" type="text" name="code" id="code" placeholder="Ej. ABC123" required>
            </div>
        </div>

        <div class="">
            <label for="thumbnail" class="form-label">Imagen (URL)</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-image"></i></span>
                <input class="form-control" type="text" name="thumbnail" id="thumbnail"
                    placeholder="Ej. https://example.com/image.jpg" required>
            </div>
        </div>
   
        <div class="">
            <button class="btn btn-primary" type="submit" id="add-btn">Registrar </button>
        </div>

    </div>
    <div>
        <h2 class="mt-4">Eliminar Producto:</h2>

        <div class="">
            <label for="id-prod" class="form-label">ID del Producto</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-trash"></i></span>
                <input class="form-control" type="number" name="id-prod" id="id-prod" placeholder="Ej. 123">
            </div>
        </div>

        <div class="">
            <button class="btn btn-danger" type="button" id="delete-btn">Eliminar</button>
        </div>
    </div>
</form>

<div class="" id="list-products">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>